body{
    margin: 0px;
    padding: 0px;
    background: rgb(72, 54, 205);
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
   
}
.logo{
    width: 100%;
    float:left;

}
.left{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
    
}
.right{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: white;
    opacity: 0.5;
    
    
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    
}
.logoimg{
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
    width: 10%;
}
.tittle{
    float: inherit;
    margin-left: 15%;
    color:white;
}
.texto{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #3621b0;
    font-size: 20px;
    border: none;
    outline: none;
    background: #fdfffd;
    border-radius: 20px;
    opacity: 0.5;
}
#imgmun{
    margin-left: 2%;
    margin-top: 20px;
    width: 90%;
    height: auto;
}
#texto{
    margin-left: 7%;
    margin-right: 5%;

}
#texto2{
    float: left;
    margin-left: 10%;
    color: #0a3871;
    width: 60%;
    border: none;
    outline: none;
    font-size: 15px;
}

.boton{
    padding: 24px;
    width:30%;
    border-radius:  24px;
    margin-left: 15%;
    cursor: pointer;
    background-color:rgb(72, 54, 205);
    
  
    
}

.boton:hover{
    background-color: rgb(40, 147, 219);
    box-shadow: 0 0 20px rgb(245, 245, 246);
      
}


#copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background:#d8dfe8 ;
    border-radius: 24px;
    display:none;
}

p{
    color: white;
    align-items: center;
}
.pie{
    margin-left:28%;
    color:white;
    
}